@using WebApplication1.Models.Energy

@model List<PersonalAccountViewModel>

@section Style {
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/css/energy/personalAccount.css" rel="stylesheet" />
}

@{
    ViewBag.Account = Model.First();
}


<section class="main">
    <div class="main-content">

        <div class="user-name text-subtitle fs-3 mb-4">
            <span>@ViewBag.Account.UserName</span>
        </div>

        <div class="account fs-5">
            @foreach (var account in Model)
            {
                if (account == Model.First())
                {
                    <div class="account-link text-subtitle active ml-5">
                        <span class="account-link-text">Лицевой счёт @account.Number</span>
                    </div>
                }
                else
                {
                    <div class="account-link text-subtitle ml-5">
                        <span class="account-link-text">Лицевой счёт @account.Number</span>
                    </div>
                }
            }
        </div>


        <div class="balance text-subtitle fs-4 mb-2">
            <span class="text-color">Баланс лицевого счета:</span>

            <div class="mt-2 fs-5" id="balance-details"></div>

            <div id="balance-id" class="display-4">
                @ViewBag.Account.Debt
            </div>
        </div>

        <div class="secondary-content col">

            <div class="tariff text-subtitle fs-5 mb-2">
                <span class="text-color">Тарифный план:</span>
                <div id="tariff" class="fs-4">@ViewBag.Account.Rate</div>
            </div>

            <div class="address text-subtitle fs-5 mb-5">
                <span class="text-color">Адрес подключения:</span>
                <div id="address">ул. @ViewBag.Account.Address</div>
            </div>

            <div class="pay text-subtitle fs-5">
                <span class="mb-2">Сумма к оплате:</span>
                <div class="form-outline">
                    <input type="text" class="form-control mb-2" maxlength="8" />
                </div>
                <button type="button" class="btn btn-light btn-sm">Оплатить</button>
            </div>
        </div>

        <div class="b-apply-discon mt-5 mb-2">
            <div class="text-subtitle fs-5">
                @Html.RouteLink("Подать заявку на отключение счета",
                new
                {
                    action = "Delete",
                    controller = ViewContext.RouteData.Values["Controller"].ToString(),
                    accountNumber = $"{ViewBag.Account.Number}"
                },
                 htmlAttributes:
                 new 
                 { 
                     @class = "btn btn-danger btn-lg", 
                     @role = "button", 
                     id = "b-delete", 
                 });
            </div>
        </div>
    </div>
</section>

<script src="~/js/Energy/personalAccount.js"></script>